R version 4.4.1 (2024-06-14 ucrt)
Platform: x86_64-w64-mingw32/x64
Running under: Windows 11 x64 (build 26200)

Matrix products: default


locale:
[1] LC_COLLATE=Spanish_Spain.utf8  LC_CTYPE=Spanish_Spain.utf8    LC_MONETARY=Spanish_Spain.utf8
[4] LC_NUMERIC=C                   LC_TIME=Spanish_Spain.utf8    

time zone: Europe/Vienna
tzcode source: internal

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base     

other attached packages:
[1] GEOquery_2.74.0     Biobase_2.66.0      BiocGenerics_0.52.0 edgeR_4.4.2        
[5] limma_3.62.2       

loaded via a namespace (and not attached):
  [1] DBI_1.3.0                   gson_0.1.0                  rlang_1.2.0                
  [4] magrittr_2.0.5              clue_0.3-68                 GetoptLong_1.1.1           
  [7] DOSE_4.0.1                  otel_0.2.0                  matrixStats_1.5.0          
 [10] compiler_4.4.1              RSQLite_3.52.0              png_0.1-9                  
 [13] vctrs_0.7.3                 reshape2_1.4.5              stringr_1.6.0              
 [16] pkgconfig_2.0.3             shape_1.4.6.1               crayon_1.5.3               
 [19] fastmap_1.2.0               XVector_0.46.0              tzdb_0.5.0                 
 [22] enrichplot_1.26.6           UCSC.utils_1.2.0            purrr_1.2.2                
 [25] bit_4.6.0                   zlibbioc_1.52.0             cachem_1.1.0               
 [28] aplot_0.2.9                 GenomeInfoDb_1.42.3         jsonlite_2.0.0             
 [31] blob_1.3.0                  DelayedArray_0.32.0         BiocParallel_1.40.2        
 [34] parallel_4.4.1              cluster_2.1.6               R6_2.6.1                   
 [37] stringi_1.8.7               RColorBrewer_1.1-3          GenomicRanges_1.58.0       
 [40] GOSemSim_2.32.0             SummarizedExperiment_1.36.0 Rcpp_1.1.1-1.1             
 [43] iterators_1.0.14            ggtangle_0.1.2              R.utils_2.13.0             
 [46] readr_2.2.0                 IRanges_2.40.1              rentrez_1.2.4              
 [49] Matrix_1.7-0                splines_4.4.1               igraph_2.3.1               
 [52] tidyselect_1.2.1            abind_1.4-8                 qvalue_2.38.0              
 [55] rstudioapi_0.18.0           doParallel_1.0.17           codetools_0.2-20           
 [58] lattice_0.22-6              tibble_3.3.1                plyr_1.8.9                 
 [61] treeio_1.30.0               KEGGREST_1.46.0             S7_0.2.2                   
 [64] gridGraphics_0.5-1          xml2_1.5.2                  circlize_0.4.18            
 [67] Biostrings_2.74.1           pillar_1.11.1               ggtree_3.14.0              
 [70] MatrixGenerics_1.18.1       foreach_1.5.2               stats4_4.4.1               
 [73] clusterProfiler_4.14.6      ggfun_0.2.0                 generics_0.1.4             
 [76] hms_1.1.4                   S4Vectors_0.44.0            ggplot2_4.0.3              
 [79] scales_1.4.0                tidytree_0.4.7              glue_1.8.1                 
 [82] lazyeval_0.2.3              tools_4.4.1                 data.table_1.18.4          
 [85] locfit_1.5-9.12             fgsea_1.32.4                XML_3.99-0.23              
 [88] fs_2.1.0                    fastmatch_1.1-8             cowplot_1.2.0              
 [91] grid_4.4.1                  tidyr_1.3.2                 ape_5.8-1                  
 [94] AnnotationDbi_1.68.0        colorspace_2.1-2            nlme_3.1-164               
 [97] GenomeInfoDbData_1.2.13     patchwork_1.3.2             cli_3.6.5                  
[100] rappdirs_0.3.4              S4Arrays_1.6.0              ComplexHeatmap_2.22.0      
[103] dplyr_1.2.1                 gtable_0.3.6                R.methodsS3_1.8.2          
[106] yulab.utils_0.2.4           EnhancedVolcano_1.24.0      digest_0.6.39              
[109] SparseArray_1.6.2           ggrepel_0.9.8               ggplotify_0.1.3            
[112] rjson_0.2.23                farver_2.1.2                memoise_2.0.1              
[115] R.oo_1.27.1                 lifecycle_1.0.5             httr_1.4.8                 
[118] statmod_1.5.1               GlobalOptions_0.1.4         GO.db_3.20.0               
[121] bit64_4.8.0                
